html {
	text-align: center;
	/*background-color:rgb(221, 255, 0);*/
	background-color: rgb(69, 69, 69);
}
#description {
	color: white;
}
#survey-form {
	background-color: rgb(169, 169,169);
	/*background-color: rgb(102, 255, 255);*/
	max-width: 1000px;
	align-content: center;
	margin: auto;
	padding: 15px;
	border-radius: 5px;
	height: auto;
	max-height: 1500px;
}
.required {
	color: red;
	padding: 5px;
}
label {
	padding: 5px;
	padding-bottom: 5px;
}
input {
	padding: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}
.basic-info {
	display: grid;
}
#no {
margin-left: 10px;
}
.number {
	width: 50px;
}
.commentfield * {
	vertical-align: middle;
}
/*#checkboxList {
	overflow: hidden;
	list-style: none;
	align-self: center;
}*/
input [type="checkbox"] {
   width: 20px;
    position: relative;
    left: -100px;
    vertical-align: middle;
    	padding: -5px;
	padding-bottom: -5px;
	margin-top: -5px;
}
.box {
	position: relative;
	left: 40px;
	margin-right: -130px;
	z-index: 2;
}
.checkLabel {
	   width: 200px;
    position: relative;
    left: 85px;
    bottom: 22px;
    display: inline-block;
    vertical-align: middle;
        	padding: -5px;
	padding-bottom: -5px;
	margin-top: -5px;
}
#computerLabel {
	left: 100px;
	top: 3px;
	z-index: 1;
}
#phoneLabel {
	left: 90px;
	top: 3px;
	z-index: 1;
}
#TVLabel {
	left: 80px;
	top: 3px;
	z-index: 1;
}
#consoleLabel {
	left: 145px;
	top: 3px;
	z-index: 1;
}
.rating {
	width: 50px;
}
#submit {
	background-color: #FF66CC;
}