html {
	text-align: center;
	/*background-color:rgb(221, 255, 0);*/
	background-color: rgb(69, 69, 69);
}
#description {
	color: white;
}
#survey-form {
	background-color: rgb(169, 169,169);
	/*background-color: rgb(102, 255, 255);*/
	max-width: 1000px;
	align-content: center;
	margin: auto;
	padding: 15px;
	border-radius: 5px;
	height: auto;
	max-height: 1500px;
}
.required {
	color: red;
	padding: 5px;
}
label {
	padding: 5px;
	padding-bottom: 5px;
}
input {
	padding: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}
.basic-info {
	display: grid;
}
#no {
margin-left: 10px;
}
.number {
	width: 50px;
}
.commentfield * {
	vertical-align: middle;
}
/*.boxfield * {
	vertical-align: middle;
	display: grid;
	align-items: center;
	text-align: left;
	justify-content: center;

}*/
#checkboxList {
	overflow: hidden;
	list-style: none;
	align-self: center;
}
/*input[type="checkbox"] {
	vertical-align: center;
	position: relative;
}*/
.rating {
	width: 50px;
}
/*.checked label {
	display: inline-block;
	padding-right: 10px;
	padding-left: 22px;
	text-indent: -22px;
}
.checked input {
	vertical-align: middle;
}
.checked label span {
	vertical-align: middle;
}
#phone {
	padding-right: 5px;
	margin-right: 10px;
}*/
